.show-list {
  padding-top: 1%;
}

.channel {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  box-shadow: 9px 9px 4px 4px rgba(173, 177, 198, 0.2);
  color: #4e4f52;
}

.channel span {
  font-size: 13px;
  font-weight: bold;

}

.channel h4 {
  margin: 0 auto;
}

.channel h6 {
  margin: 0 auto;
}

.channel img {
  height: 60px;
}
